*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family:'Lato';
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
}
.desctop {
    display: flex;
}
.mobile {
    display: none !important;
}
.special-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.BODYYY {
    background: url('../img/162.jpg') center center / cover no-repeat;
    min-height: 100vh;
}
.korzina-wrap {
    height: fit-content;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: rgba(75, 75, 75, 0.61);
    backdrop-filter: blur(5px);
}
.tit-wrp {
    display: inline-flex;
    padding: 0 20px;
    align-items: center;
    background: black;
    height: 40px;
    border-radius: 100px;
    color: #ffffff;
}
.flex123{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex123 button {
    display: flex;
    padding: 0 20px;
    align-items: center;
    background: #ff090988;
    height: 40px;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
}
.kor-wrp {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    height: 30vh;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
html, body {
    height: 100%;
}
.BODY_wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.MAIN {
    flex: 1 1 auto;
}
.loginB {
    overflow: hidden;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1190px;
}
header{
    position: relative;
    z-index: 4000;
    padding: 0 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    background-color: rgba(126, 126, 126, 0.5);
    backdrop-filter: blur(5px);
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 0 5px 5px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
}
.menu{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
}
.navigation:hover{
    text-shadow: 0 0 2px #ffffff;
}
.banner{
    background: url('../img/banner1.png') center center/cover no-repeat;
    height: fit-content;
}

.main_text{
    font-size: 34px;
    font-family: lato;
    text-align: center;
    margin-top: 20px;
}

.text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: rgb(255, 255, 255);
    min-height: 500px;
}
.text_container > h1 {
    font-family: lato;
    font-size: 50px;
}
.text_container > h2 {
    font-family: lato;
    font-size: 30px;
}

.content__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 26px 0 26px;
    column-gap: 30px;
    row-gap: 25px;
    justify-content: center;
    width: 100%;
}

.card__image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    border: 1px solid #d8d8d8c0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 270px;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    min-height: 70px;
}

.card__text{
    color: black;
}

.card_link{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.card_link:hover{
    color: #ffffff;
    transition: 0.3s;
    text-shadow: 0 0 5px #fff;
}

footer{
    background-color: #000000;
    height: 150px;
    display: flex;
    align-items: center;
}
footer  p {
    text-align: center;
    color: #ffffff;
}
.footer_icons{
    width: 40px;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.footer_container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
@media (max-width: 1570px){
    .menu{
        width: 60%;
    }
}
@media (max-width: 1260px) {
    .container{
        max-width: 90%;
    }
    .menu{
        width: 70%;
    }
    .navigation {
        font-size: 18px;
    }
}
@media (max-width: 999px) {
    .desctop {
        display: none;
    }
    .mobile {
        display: flex !important;
    }
    .BODYYY {
        background-color: rgb(74, 89, 109);
        background: url('../img/153.jpg') center center / cover no-repeat;
    }
    .burger-menu{
        width: 40px;
    }
    .mob-menu{
        z-index: 2000;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
        justify-content: space-between;
        background-color: rgba(77, 77, 77, 0.7);
        border: 1px solid #000;
        padding: 20px;
        top: -300px;
        transition: 0.5s all;
        border-radius: 5px;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .mob-menu_active{
        transition: 0.5s all;
        top: 120px;
        backdrop-filter: blur(5px) !important;
    }
    header{
        padding: 20px;
        min-height: 100px;
    }
    header .container{
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .logo{
        height: 60px;
    }
    .menu{
        height: 65%;
        flex-direction: column;
        width: 100%;
    }
    .text_container{
        min-height: 300px;
    }
    .text_container > h1 {
        font-size: 40px;
    }
    .text_container > h2 {
        font-size: 25px;
    }
    .flex123 {
        flex-direction: column;
        height: 150px;
    }
    .tit-wrp h3 {
        font-size: 16px !important;
    }
    .tit-wrp {
        height: 40px;
    }
}
@media (max-width: 700px) {
    header{
        height: 100px;
    }
    .banner{
        height: 600px;
    }
    .main_text{
        font-size: 25px;
    } 
    .text_container > h1 {
        font-size: 30px;
    }
    .text_container > h2 {
        font-size: 20px;
    }
}
@media (max-width: 435px) {
    .MH {
        height: 80px;
    }
    header{
        width: 95%;
    }
}